.rock-btn{
    border: 0;
    background-image: radial-gradient(hsl(349, 71%, 52%),hsl(349, 70%, 56%));
}
.inner-rock-btn{
    border-top: 0.25rem solid rgb(210, 208, 208);
    background-color: white;
}
