.game-score-container{
    height: 20vh;
    margin-left: 10% ;
    margin-right: 10%;
    padding-left: 2%;
    padding-right: 5%;
    border: 2px solid rgb(172, 152, 152);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.available-moves{
    color: rgb(238, 231, 231);
    display: flex;
    flex-direction: column;
    font-size: large;
}
.score-container{
    background-color: white;
    height: 6rem;
    width:8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.score-container>h1{
    font-size: xx-large;
}
.score-container>h4{
    color: hsl(229, 64%, 46%);
}